body{
    background-color: rgb(0, 0, 78);
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.music{
    border: 2px solid white;
    border-radius: 11px;
    display: block;
    margin: 20px auto;
    padding: 5px;
    font-size: 20px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
img{
    border: none;
    border-radius: 15px;
}
.galeria {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

button {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
}

.pontos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
}

.ponto {
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.ponto.ativo {
    transform: scale(1.3);
    border: 2px solid #07b5ff;
}

.fade {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade.saindo {
    opacity: 0;
}

.contrato {
    border: none;
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 18px;
    box-shadow: 0 4px 100px 1px rgb(0, 183, 255);
}

.texto{
    text-align: center;
    font-size: 13px;
    margin: 50px;
}

p{
    text-align: center;
    font-size: 13px;
}